{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'panel/css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>

      <!-- {{month_calendar}} -->

      
    </div>
    <div class="blur" style="display: none"></div>

    {% if error %}
    <div class="blur_2"></div>
    <div class="create">
      <div class="create_alert">
        <div class="error">
          {{error}}
        </div>
        <form
          action="{% url 'create_content' %}"
          method="post"
          class="create_form"
        >
          {% csrf_token %}
          <div class="form_content_input">
            <label for="content">: محتوا</label>
            <textarea
              type="text"
              name="content"
              id="content"
              class="create_inp_text"
              dir="rtl"
            ></textarea>
          </div>

          <div class="form_block">
            <input type="submit" class="send_btn" value="ارسال" />
            <input type="button" class="send_btn back" value="برگشت" />

            <!-- <span class="back send_btn">برگشت</span> -->

            <div class="day_number_div">
              <input
                type="text"
                name="day_number"
                id="day_number"
                class="day_number create_inp create_inp_day_number"
              />
              <label for="day_number">امروز چندمه؟</label>
            </div>
          </div>

          <input
            type="text"
            name="month_number"
            id="month_number"
            value="{{month_number}}"
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="year_number"
            id="year_number"
            value="{{year_number}}"
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="width"
            id="width"
            value=""
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="height"
            id="height"
            value=""
            class="create_inp"
            style="display: none"
          />
        </form>

        
      </div>
    </div>

    {% endif %}

    <div class="create" style="display: none">
      <div class="create_alert">
        <div class="">
          موارد زیر را وارد کنید
        </div>
        <!-- <div class="forms"> -->
        <form
          action="{% url 'create_content' %}"
          method="post"
          class="create_form"
        >
          {% csrf_token %}
          <div class="form_content_input">
            <label for="content">: محتوا</label>
            <textarea
              type="text"
              name="content"
              id="content"
              class="create_inp_text"
              dir="rtl"
            ></textarea>
          </div>

          <div class="form_block">
            <input type="submit" class="send_btn" value="ارسال" />

            <div class="day_number_div">
              <input
                type="text"
                name="day_number"
                id="day_number"
                class="day_number create_inp create_inp_day_number"
              />
              <label for="day_number">امروز چندمه؟</label>
            </div>
          

          <input
            type="text"
            name="month_number"
            id="month_number"
            value="{{month_number}}"
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="year_number"
            id="year_number"
            value="{{year_number}}"
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="width"
            id="width"
            value=""
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            name="height"
            id="height"
            value=""
            class="create_inp"
            style="display: none"
          />
          <input
            type="text"
            class="create_cnt"
            name="dayid"
            style="display: none"
          />
        </form>

        

        <form
          action="{% url 'delete_content' %}"
          method="post"
          class="delete_form"
          style="display: none"
        >
          {% csrf_token %}
          <input
            type="text"
            class="delete_cnt"
            name="dayid"
            style="display: none"
          />
          <input type="submit" class="delete_btn" value="حذف" />
        </form>

        </div>
        
        <!-- </div> -->

      </div>
    </div>

    <div class="container">
      {% if show == 1 %}
      <div class="content">
        <div class="row">
          <div class="day">
            <div class="title">جمعه</div>
          </div>
          <div class="day">
            <div class="title">پنج شنبه</div>
          </div>
          <div class="day">
            <div class="title">چهار شنبه</div>
          </div>
          <div class="day">
            <div class="title">سه شنبه</div>
          </div>
          <div class="day">
            <div class="title">دو شنبه</div>
          </div>
          <div class="day">
            <div class="title">یک شنبه</div>
          </div>
          <div class="day">
            <div class="title">شنبه</div>
          </div>
        </div>
        
        {% for week in month_calendar %}
        <!-- <div>{{week}}</div> -->
        <div class="row {% if forloop.last %}last-row{% endif %}" dir="rtl">
          {% for day in week %}
          <div class="sqr" >
            <!-- for days in db -->
            {% for inf in days %}
              {% if inf.day_number == day.day %}
                <div class="title">{{ inf.content }}</div>
              {% endif %}
            {% endfor %}

            <div class="sqr_number">{{day.day}}</div>
          </div>
          {% endfor %}

        </div>
        {% endfor %}

      {% endif %} 

      
    </div>
    <div class="sidebar">
        <div class="sidbar_top">
          <div class="btn">
            <form method="POST" action="{% url 'panel' request.user.id %}">
              {% csrf_token %}
              <input
                type="text"
                name="month"
                class="mounth_s"
                style="display: none"
                value="{{month_number}}"
              />
              <input
                type="text"
                name="year"
                class="year_s"
                style="display: none"
              />
              <button type="submit" class="main_btn">
                به روز رسانی
                <i class="material-icons">&#xe863;</i>
              </button>
            </form>
          </div>

          <div class="exact_date">
            <div class="exact_year">
              {% if year_number == '1403' %}
              <div class="">1403</div>
              {% endif %} {% if year_number == '1404' %}
              <div class="">1404</div>
              {% endif %} {% if year_number == '1405' %}
              <div class="">1405</div>
              {% endif %}
            </div>

            <div class="exact_month">
              {% if month_number == '1' %}
              <div class="">فروردین</div>
              {% endif %} {% if month_number == '2' %}
              <div class="" id="2">اردیبهشت</div>
              {% endif %} {% if month_number == '3' %}
              <div class="" id="3">خرداد</div>
              {% endif %} {% if month_number == '4' %}
              <div class="" id="4">تیر</div>
              {% endif %} {% if month_number == '5' %}
              <div class="" id="5">مرداد</div>
              {% endif %} {% if month_number == '6' %}
              <div class="" id="6">شهریور</div>
              {% endif %} {% if month_number == '7' %}
              <div class="" id="7">مهر</div>
              {% endif %} {% if month_number == '8' %}
              <div class="" id="8">آبان</div>
              {% endif %} {% if month_number == '9' %}
              <div class="" id="9">آذر</div>
              {% endif %} {% if month_number == '10' %}
              <div class="" id="10">دی</div>
              {% endif %} {% if month_number == '11' %}
              <div class="" id="11">بهمن</div>
              {% endif %} {% if month_number == '12' %}
              <div class="" id="12">اسفند</div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="sidebar_sec">
          <div class="year_option">
            <select class="s_year" name="" id="">
              <option value="">انتخاب کنید</option>
              <option value="1403">1403</option>
              <option value="1404">1404</option>
              <option value="1405">1405</option>
            </select>
          </div>
          <div class="month">
            {% if month_number == '1' %}
            <div class="list_cnt clicked" id="1">فروردین</div>
            {% else %}
            <div class="list_cnt" id="1">فروردین</div>
            {% endif %} {% if month_number == '2' %}
            <div class="list_cnt clicked" id="2">اردیبهشت</div>
            {% else %}
            <div class="list_cnt" id="2">اردیبهشت</div>
            {% endif %} {% if month_number == '3' %}
            <div class="list_cnt clicked" id="3">خرداد</div>
            {% else %}
            <div class="list_cnt" id="3">خرداد</div>
            {% endif %} {% if month_number == '4' %}
            <div class="list_cnt clicked" id="4">تیر</div>
            {% else %}
            <div class="list_cnt" id="4">تیر</div>
            {% endif %} {% if month_number == '5' %}
            <div class="list_cnt clicked" id="5">مرداد</div>
            {% else %}
            <div class="list_cnt" id="5">مرداد</div>
            {% endif %} {% if month_number == '6' %}
            <div class="list_cnt clicked" id="6">شهریور</div>
            {% else %}
            <div class="list_cnt" id="6">شهریور</div>
            {% endif %} {% if month_number == '7' %}
            <div class="list_cnt clicked" id="7">مهر</div>
            {% else %}
            <div class="list_cnt" id="7">مهر</div>
            {% endif %} {% if month_number == '8' %}
            <div class="list_cnt clicked" id="8">آبان</div>
            {% else %}
            <div class="list_cnt" id="8">آبان</div>
            {% endif %} {% if month_number == '9' %}
            <div class="list_cnt clicked" id="9">آذر</div>
            {% else %}
            <div class="list_cnt" id="9">آذر</div>
            {% endif %} {% if month_number == '10' %}
            <div class="list_cnt clicked" id="10">دی</div>
            {% else %}
            <div class="list_cnt" id="10">دی</div>
            {% endif %} {% if month_number == '11' %}
            <div class="list_cnt clicked" id="11">بهمن</div>
            {% else %}
            <div class="list_cnt" id="11">بهمن</div>
            {% endif %} {% if month_number == '12' %}
            <div class="list_cnt clicked" id="12">اسفند</div>
            {% else %}
            <div class="list_cnt" id="12">اسفند</div>
            {% endif %}
          </div>
        </div>
      </div>
    <script src="{% static 'panel/js/scripts.js' %}"></script>
  </body>
</html>
